doctype 5
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Jade - node template engine
    #container.col
      //-h1 #{length(rooms)}
      -for room in rooms
        li
          a(href="/room/") #{room.id}
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
