{% extends "app.html" %}

{% block content %}
<br />
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-3">
      <ul id="users">
        {% for user in users %}
        <li id="{{ user.id }}" {% if user == current_user %}class="online"{% endif %}>
          <span style="display: none;" class="typing badge pull-right">
            typing...
          </span>

          <img data-email="{{ user.email }}" />
          <span>{{ user.name }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <form id="new-message" class="form">
        <div class="input-group">

          <input name="message" placeholder="Message" class="form-control" style="width: 500px;" />

          <button class="btn btn-primary form-control" style="width:80px;">Send</button>
        </div>

      </form>
      <div id="msgs">

      </div>

    </div>

  </div>



  <div class="row msg template" style="display: none">
    <div class="left">
      <img src="" class="img-circle" style="width: 32px;" />
      <p class="name"></p>
    </div>
    <div class="right">
      <p class="bubble">
        <span class="text">Hey!</span>
      </p>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
  <script src="/static/js/chat.js"></script>
{% endblock %}
