{% extends "app.html" %}
{% block content %}
<aside>
  <ul id="users">
    {% for user in users %}

      <li id="{{ user.id }}" data-email="{{ user.email }}" {% if user == current_user %}data-me="true"{% endif %}>
        <!--class="img-circle"-->
        <!--<img  data-email="{{ user.email }}" />-->
        <strong>●</strong>
        <span class="name">{{ user.name }}</span>

      </li>
    {% endfor %}
  </ul>
</aside>

<section id="main">
  <ul id="messages">
  </ul>

  <form id="new-message" class="form">
    <div class="input-group">

      <input autocomplete="off" name="message" placeholder="Message" class="form-control message-input" />

      <!--<button>Send</button>-->
    </div>

  </form>
</section>

  <li class="message template" style="display: none">
    <div class="user">
      <img src="" class="img-circle" />
      <p class="name"></p>
    </div>

    <div class="info">
      <p class="bubble">
        <span class="text">Hey!</span>
      </p>
      <span class="time">10:12</span>
    </div>
  </li>
{% endblock %}

{% block js %}
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
  <script src="/static/js/vendor/autolink.min.js"></script>
  <script src="/static/js/chat.js"></script>
{% endblock %}
