<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>

<script type="text/javascript">

 $(document).ready(function() {

     // Create a WebSocket object.
     wsc = new WebSocket(
         "ws://localhost:8081/websocket/messages",
         "messages");

     // Send message to server.
     $("#websocket1").click(function(event) {
         var value = $("#search2").val();
         if (value == "") {
             alert("Must enter tag search string.");
             return false;
         }
         obj1 = [value, value];
         alert('sending - obj1: ' + obj1);
         wsc.send(JSON.stringify(obj1));
     })

     // Receive message from server.
     wsc.onmessage = function(event) {
         var data = event.data;
         alert("(onmessage) 1. event: " + event + "  data: " + event.data);
         var content = JSON.parse(data);
         alert('(onmessage) 2. content: ' + content);
     }

 });

</script>
